In [14]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String
from sqlalchemy.orm import Session

import pandas as pd
import os

Base = declarative_base()

In [15]:
file_one = os.path.join('clean_file_one_df.csv')
file_two = os.path.join('clean_file_two_df.csv')

In [16]:
file_one_df = pd.read_csv(file_one)
file_one_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [17]:
file_two_df = pd.read_csv(file_two)
file_two_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [11]:
class Station(Base):
    __tablename__ = "Stations"
    station = Column(String, primary_key=True)
    name = Column(String)
    latitude = Column(Integer)
    longitude = Column(Integer)
    elevation = Column(Integer)
    
class Measurement(Base):
    __tablename__ = "Measuements"
    station = Column(String, primary_key=True)
    date = Column(String)
    prcp = Column(Integer)
    tobs = Column(Integer)

In [12]:
engine = create_engine("sqlite:///hawaii.sqlite")
Base.metadata.create_all(engine)

session = Session(bind=engine)