In [1]:
import tweepy
import time
import json
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
import matplotlib.pyplot as plt
import pandas as pd

consumer_key = "Ed4RNulN1lp7AbOooHa9STCoU"
consumer_secret = "P7cUJlmJZq0VaCY0Jg7COliwQqzK0qYEyUF9Y0idx4ujb3ZlW5"
access_token = "839621358724198402-dzdOsx2WWHrSuBwyNUiqSEnTivHozAZ"
access_token_secret = "dCZ80uNRbFDjxdU2EckmNiSckdoATach6Q8zb7YYYE5ER"

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [2]:
source_account=[]
tweet_text=[]
tweet_date=[]
compound_list=[]
pos_list=[]
neu_list=[]
neg_list=[]

target_term=['@bbc','@abc','@sputnikInt','@cnn','@RT_com','@fox']

In [3]:
for target in target_term:

    public_tweets=api.user_timeline(target, count=1, result_type='recent')

    for tweet in public_tweets:
        
        source_acc=tweet['user']['name']
        source_account.append(source_acc)

        text_acc=tweet['text']
        tweet_text.append(text_acc)

        created_acc=tweet['created_at']
        tweet_date.append(tweet)

        scores=analyzer.polarity_scores(text_acc)
        compound=scores['compound']
        pos=scores['pos']
        neu=scores['neu']
        neg=scores['neg']

        compound_list.append(compound)
        pos_list.append(pos)
        neu_list.append(neu)
        neg_list.append(neg)

In [4]:
tweet_df=pd.DataFrame({'Source Account':source_account,
'Text':tweet_text,'Date':tweet_date,'Compound':compound_list,
'Positive':pos_list,'Neutral':neu_list,"Negative":neg_list})
tweet_df.head(10)

,Compound,Date,Negative,Neutral,Positive,Source Account,Text
0,0.3818,{'created_at': 'Tue Dec 05 20:35:04 +0000 2017...,0.000,0.809,0.191,"{'id': 19701628, 'id_str': '19701628', 'name':...",Stunning aerial photos capture US cities from ...
1,-0.2960,{'created_at': 'Tue Dec 05 23:14:08 +0000 2017...,0.200,0.692,0.108,"{'id': 28785486, 'id_str': '28785486', 'name':...",John Mayer admitted to the hospital for emerge...
2,0.0000,{'created_at': 'Tue Dec 05 23:26:20 +0000 2017...,0.000,1.000,0.000,"{'id': 34262462, 'id_str': '34262462', 'name':...",Ex-Yemeni President #Saleh's nephew dies in cl...
3,-0.7845,{'created_at': 'Tue Dec 05 23:18:06 +0000 2017...,0.257,0.743,0.000,"{'id': 759251, 'id_str': '759251', 'name': 'CN...",Kenneth Copeland was shot and killed in the li...
4,-0.8271,{'created_at': 'Tue Dec 05 23:27:28 +0000 2017...,0.355,0.645,0.000,"{'id': 64643056, 'id_str': '64643056', 'name':...",‘The murder of our national sport’: Russian at...
5,0.7717,{'created_at': 'Tue Dec 05 11:54:36 +0000 2017...,0.000,0.705,0.295,"{'id': 42864649, 'id_str': '42864649', 'name':...",Turned 30 today.\n\n✅ drove a convertible\n✅ s...